#api {
  margin: 120px 100px 50px 100px;
  text-align: center;
}

#api .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  place-items: center;
  margin-top: 50px;
}

@media screen and (max-width: 520px) {
  #api {
    margin: 100px 50px 50px 50px;
  }
  #api .cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
