#resourceCard {
  margin-bottom: 10px;
  &.card {
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    height: 100%;
  }
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
  display: grid;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  p {
    font-weight: 400;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 5px;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1em;
  }

  svg {
    width: 20px;
    height: 20px;
  }
  .card-header {
    line-height: 50px;
    max-height: 70px;
    font-weight: bolder;
    font-size: 1.1rem;
  }
  .card-body {
    padding: 20px;
    height: 180px;

    .categories {
      text-align: center;
      .badge {
        margin: 2px;
        line-height: 15px;
      }
    }
  }
  .card-footer {
    display: contents;
    .btn-open {
      border: 0px;
      font-weight: 500;
      border-radius: 0px 0px 5px 5px;
    }
  }
}
