@use "sass:color";
@use "../../themes" as *;

.toggle {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: $background;
  position: fixed;
  top: 15px;
  right: 25px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-icon {
  width: 15px;
  height: 15px;
}

.toggle-button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  cursor: pointer;
}

/* Dark mode */
.dark-mode .toggle {
  background-color: $background-dark;
  border-color: rgba(255,255,255,0.2);
}

.dark-mode .toggle-button {
  background-color: color.adjust($background-dark, $lightness: 25%);
}
