$header-color: #2196F3;
$header-text: #FFFFFF;
$button: #f6c9d0;
$text: #221c1c;
$background: #FAFAFA;

$button-dark: #D28790;
$text-dark: #ffffff;
$background-dark: #1a1a1a;

$header-navbar: $header-color;
$header-navbar-dark: $header-color;