$header-navbar: #74d2b2;
$button: #f6c9d0;
$important: #f5e5c0;
$text: #221c1c;
$background: #ffffff;

$header-navbar-dark: #35A38E;
$button-dark: #D28790;
$important-dark: #E5D8AF;
$text-dark: #ffffff;
$background-dark: #000000;

$prueba1:#CCFFBD;
$prueba2: #7ECA9C;
$prueba3: #40394A;
$prueba4: #1C1427;