#notFound {
  text-align: center;
  display: grid;
  place-items: center;
  height: 100vh;
  color: #e41818;
}

#notFound .container {
  border: 5px dashed #e41818;
  border-radius: 15px;
  padding: 30px;
  margin: 20px;
}

#notFound .container h1 {
  font-size: 15rem;
  font-weight: bold;
}

#notFound .container h2 {
  font-size: 3rem;
}

#notFound .container p {
  font-size: 2rem;
}
